/* .collection{
    width: 65%;
    margin: auto;
    color: #aaa;
    background-color: #191e25;
    line-height: 300%;
    border-radius: 10px;
}
.collection li{
    list-style: none;
}
.collection li a{
    text-decoration: none;
    color: #aaa;
    font-weight: 500;
    letter-spacing: .02em;
} */

/* .data,th,td { */
    /* border: 1px solid black; */
    /* border-collapse: collapse;
    padding: 10px;
    font-weight: 700;
    font-size: medium;
}
.data{
    width: 50%;
    background-color:#b7b7ac;
    border-radius: 10px;
}
.data th{
    font-size: 25px;
}
.data td a{
    text-decoration: none;
    color: black;
} */
